<div class="container mt-4">
  <h1 class="notes-title">My ToDo List</h1>
</div>

<div class="container mt-4">
  <div class="row mb-3">
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Enter Task" [(ngModel)]="task" />
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Add Comment" [(ngModel)]="comment" />
    </div>
    <div class="col-md-1">
      <button class="btn btn-primary task-button" (click)="Add()">Add</button>
    </div>
    <div class="col-md-2">
      <button class="btn btn-danger task-button" (click)="DeleteAll()">Delete All</button>
    </div>
  </div>

  <div class="row" *ngFor="let item of list; let i=index">
    <div class="col-md-1 mb-3">
      <button class="btn btn-danger btn-sm task-button" (click)="Delete(i)">Delete</button>
    </div>
    <div class="col-md-1 mb-3">
      <button class="btn btn-warning btn-sm task-button" (click)="Edit(i)">Edit</button>
    </div>
    <div class="col-md-5">
      <div class="form-check my-1">
        <input class="form-check-input" (change)="ChangeStatus(i,item.IsComplete)" type="checkbox"
          [checked]="item.IsComplete" id="{{i}}">
        <label class="form-check-label task-label" for="{{i}}" *ngIf="item.IsComplete">
          <s>{{item.TaskName}}</s>
          <div class="small comment-section mt-1">
             {{item.Comment}}
          </div>
        </label>
        <label class="form-check-label task-label" for="{{i}}" *ngIf="!item.IsComplete">
          {{item.TaskName}}
          <div class="small comment-section mt-1">
             {{item.Comment}}
          </div>
        </label>
      </div>
    </div>
  </div>
</div>
